html {
    scroll-behavior: smooth;
  }
  
body {
    background: linear-gradient(90deg, hsl(41, 70%, 54%), #f6ff00);
    color: navy;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    font-weight: bolder;    
}

h2{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

#logCheck{
    text-decoration: none;
    display: block;
    width: fit-content; 
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    color: navy;
    text-decoration: underline;
}

input {
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding-bottom: 5px;
 
  }
  
  input:hover {
    height: 45px;
    transition: width 0.3s ease, height 0.3s ease; 

  }

#searchInput{
    width: 100%;
    margin: 0 auto;
}

#option{
    font-style: italic;
}
#bookListSection{
    padding-bottom: 15px;
}

.navbar {
    display: inline;
    margin-bottom: 20px;
}

.navbar-item {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    padding: 5px 10px;
}

#yourLog{
    font-weight: bold;
}

  #yourLog, #logMessage{
   padding-top: 25px; 
   padding-bottom: 0;
   text-align: center;
   
  }

#bookListSection, #logSection {
    margin-top: 20px;
}

.book-card {
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
}

.book-card img {
    margin-right: 15px;
}
.celebration {
    display: none;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    background-color: #28a745; 
    color: #fff; 
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    z-index: 1000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    animation: fadeInOut 5s ease-in-out; 
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-100%); } 
    10% { opacity: 1; transform: translateY(0); } 
    90% { opacity: 1; transform: translateY(0); } 
    100% { opacity: 0; transform: translateY(-100%); } 
}
